body {
  background-color: aliceblue !important;
}

header {
  background-color: #1b284f !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}

header h1 {
  font-family: 'Nico Moji' !important;
  padding: 0.8rem !important;
}

header h1 .star {
  color: #64c0ab;
  font-size: min(1.6rem, 4vw);
}

header h1 .title {
  color: #f7d36e;
  font-size: min(2.2rem, 5.5vw);
}

header h1 .subtitle {
  color: #ffffff;
  font-size: min(1.6rem, 4vw);
}

main {
  margin-top: 1rem;
}

footer {
  padding: 2rem 0;
}

#page-loader {
  position: fixed;
  top: auto;
  left: auto;
  bottom: 1vh;
  right: 1vw;
}

/* index hero image from https://www.pexels.com/ja-jp/photo/956999/ */

.hero {
  padding: 4rem 0 !important;
  margin-bottom: 2rem !important;
  text-align: center !important;
}

.hero .website {
  margin: 1rem 0;
}

#index.hero {
  background-size: cover;
  background-position: center;
  background-image: url(/hero.jpg);
}

@media screen and (max-width: 1280px) {
  #index.hero {
    background-image: url(/hero-s.jpg);
  }
}

.ui.inverted.segment .ui.header {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .ui.stackable.cards {
    margin-top: 1rem;
  }
}

h3.ui.header > .icon {
  font-size: 0.8em;
  margin-bottom: 0.7em;
}

.ui.horizontal.list > .item > i.icon {
  vertical-align: baseline;
}

.CodeMirror {
  font-size: 16px;
  height: auto !important;
}

.CodeMirror-scroll {
  min-height: 300px;
}
