body {
  background-color: aliceblue !important;
}

header {
  background-color: #1b284f !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}

header h1 {
  font-family: 'Nico Moji' !important;
  padding: 0.8rem !important;
}

header h1 .star {
  color: #64c0ab;
  font-size: 1.2rem;
}

header h1 .title {
  color: #f7d36e;
  font-size: 1.7rem;
}

header h1 .subtitle {
  color: #ffffff;
  font-size: 1.2rem;
}

main {
  margin-top: 1rem;
}

footer {
  padding: 2rem 0;
}

/* Hero image from https://www.pexels.com/ja-jp/photo/956999/ */

#hero {
  padding: 4rem 0;
  margin-bottom: 2rem;
  background-size: cover;
  background-position: center;
  background-image: url(/hero.jpg);
}

@media screen and (max-width: 1280px) {
  #hero {
    background-image: url(/hero-s.jpg);
  }
}

h3.ui.header > .icon {
  font-size: 0.8em;
  margin-bottom: 0.7em;
}

.ui.list > .item > .icon {
  display: inline-block !important;
  vertical-align: baseline !important;
  margin-right: 0.3rem !important;
}

.ui.labels {
  display: inline-block;
}

.CodeMirror {
  font-size: 16px;
  height: auto !important;
}

.CodeMirror-scroll {
  min-height: 300px;
}
